# To Day Agenda

+ Execution of commands in python shell
- Data Types
    + int
    + float
    + bool
    - complex
    + str
    
+ I/P And O/P

+ Program Execution in idle

- Program Execution in Command Prompt

In [ ]:
+ Git Hub Account Creation

In [ ]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)#floating
print(a**b)#integer
print(a%b)

In [ ]:
# Logical operator

print(False and False)
print(False and True)
print(True and False)
print(True and True)

In [ ]:
#Logical operators

print(False or False)
print(False or True)
print(True or False)
print(True or True)

In [ ]:
# not with and

print(not(False and False))
print(not(False and True))
print(not(True and False))
print(not(True and True))

In [ ]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=5 or 5==5)
print(not(100>99 and 50<20))

In [ ]:
# Assignment Operator

a=5
a+=5
a-=6
a*=4
a/=8
a

In [ ]:
#Bit wise Operator & |,^

2&2

10 & 5

11 | 6

20^10

ord('A')

ord('a')

chr(97)

In [ ]:
# Membership in, not in
s="Welcome to python workshop"
'to' in s

'too' in s

'work' not in s

'workz' not in s

In [ ]:
# Identity Operator is is not,==,!=

n='hello'

m='hello'

n is not m

In [ ]:
# Conditional Statements

if elif else

#syntax

if(condition):
    statements
elif(condition):
    statements
else:
    statements

In [ ]:
n=int(input('enter the number:-'))
if n%2==0:
    print(n,'Even Number')
else:
    print(n,'Odd Number')

In [ ]:
# Iteration 
# For,while
# syntax

# for variable in range(inclusive,exclusive,step)
     print(Variablename)

In [ ]:
for temp in range(10):
    print(temp)

In [ ]:
for i in range(1,100+1):
    print(i)

In [ ]:
for i in range(1,100+1):
    print(i,end=" ")

In [ ]:
for i in range(1,100+1):
    print(i,end="-->")

In [ ]:
for rev in range(100,0,-1):
    print(rev,end=" ")

In [ ]:
for even in range(0,50+1,2):
    print(even,end=" ")

In [ ]:
num=int(input('Enter Table:-'))
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)

In [ ]:
num=int(input('Enter Tables:-'))
for num in range(1,5+1):
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)

In [ ]:
# find Factorial number using forloop and whileloop

In [ ]:
#Find Factors using forloop and whileloop

In [ ]:
# While loop we can exicute a set of 
#statements condition is true.

#while condition:
    #statements
    
    #by using

In [7]:
i=1
while i<=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
i=20
while i>=1:
    print(i)
    i-=1

In [3]:
# while condition using even numbers
 
n=int(input('enter values'))
i=1
while i<=n:
    if i%2==0:
        print(i,'is even')
     
    i+=1

enter values6
2 is even
4 is even
6 is even

In [6]:
#jumping statements

#break,continue pass

s='hello'
for i in s:
    if i=="1":
        break
        print(i)

In [ ]:
def name:
    pass

In [ ]:
# Function 3types

# predefied

# print,input,type,ord,chr,bin,sum,max,min,round,sorted,

# user defined

# special functions

In [1]:
a="python workshop"
b=[1,2,3,4,5]
len(a)
type(a)
ord('z')
bin(5)
sum(b)
max(a)
min(a)
round(10.30)
sorted(a)
all(a)
any(a)
abs(-1)
pow(10,2)

100

# Write a program to print the given user

### Users can give the a-z and A-Z

### User can give 0.9------->print digit

### User can give the #,@,&------->special character

In [8]:
data=input('Enter the any kind of data:-')
if data>='a' and data<='z' or data >="A" and data<='Z':
    print(data,'alphabet')
elif data>='0' and data<='9':
    print(data, 'is digit')
else:
    print(data,'special character')
    dig=data[0]
    print(type(dig))
    # if dig[0]=chr
    # print('alphabet')

Enter the any kind of data:-hello1234
hello1234 alphabet

In [9]:
from getpass import getpass
uname=input('enter u name:-')
pwd=getpass('get pwd:-')

if uname=="sai" and pwd=="sai@123":
    print('Welcome',uname)
else:
    print('Invalid uname or password')

enter u name:-sai
get pwd:-········
Welcome sai

In [10]:
t=int(input('Enter no of tables'))
m=int(input('Enter table multiples'))
for i in range(1,t+1):
    for j in range(1,m+1):
        print(i,'*',j,'=',i*j)
    print('\n')

Enter no of tables10
Enter table multiples10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [11]:
t=int(input('Enter no of tables'))
m=int(input('Enter table multiples'))
for i in range(1,t+1):
    for j in range(1,m+1):
        print(i,'*',j,'=',i*j,end="\t")
    print('\n')

Enter no of tables10
Enter table multiples10
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20

3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30

4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40

5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50

6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60

7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70

8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80

9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90

10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

In [13]:
# Find Factorial number using forloop and whileloop
num= int(input('Enter Value'))
i=1
for fact in range(1,num+1):
    i=i*fact
    print(fact)
    print(i)

Enter Value6
1
1
2
2
3
6
4
24
5
120
6
720

In [17]:
# Find Factors numbers using forloop and whileloop
n=int(input('enter value'))
for f in range(1,n+1):
    if n%f==0:
        print(f)

enter value4
1
2
4